/* ---------------- Navbar ---------------- */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.7); /* semitransparente sobre video */
  color: #ffffff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
}

/* Mobile base */
.nav-links {
  display: none;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(0,0,0,0.9);
  padding: 1rem 2rem;
  list-style: none;
}

.nav-links.active {
  display: flex;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #F5A623;
}

.menu-toggle {
  display: block;
  font-size: 2rem;
  cursor: pointer;
}

.tickets, .cards-section, .hero, .organizers-container{
  scroll-margin-top: 70px; /* altura del navbar + un pequeño margen */
}

/* ---------------- Hero ---------------- */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  background-color: #000;
  color: #ffffff;
  background-image: url('/images/hero-poster-mobile.png');
  background-size: cover;
  background-position: center 75%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
  padding: 0 1rem;
}

.hero h1 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countdown {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 3rem;
}

.btn-primary {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #ff7f50, #ffa500);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s;
  animation: pulse 1.5s infinite;
}

.btn-buy-tickets {
  all: unset;
  background: linear-gradient(90deg, #ff7f50, #ffa500);
  color: #ffffff;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  width: 130px;
}

.btn-buy-tickets:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(255, 165, 0, 0.6);
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(0.80); }
  100% { transform: scale(1); }
}

.disabled-buy-button {
  background: #E0E0E0;
}

.disabled-buy-button:hover {
  box-shadow: none;
  transform: none;
}

.go-down-icon {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce-down 1.5s infinite ease-in-out;
  width: 40px;
}

@keyframes bounce-down {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(12px);
  }
}

/* Entradas Section */
.tickets {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem;
  background: #111;
  color: #ffffff;
}

.tickets h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.tickets-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.tickets .btn-primary {
  padding: 0.8rem 1.5rem;
}

.tickets-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.ticket-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: #ffffff;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  width: 280px;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.ticket-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.ticket-card h3 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.ticket-card p {
  margin-bottom: 1.5rem;
}

.ticket-card p:nth-child(3) {
  font-size: 1.8rem
}

/* Cards Section */
.cards-section {
  padding: 4rem 1rem;
  text-align: center;
  background: #f5f5f5;
}

.cards-section h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.card {
  background: #ffffff;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  max-width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  color: #333;
}

.cards-link {
  text-decoration: none;
}


/* faqs view*/
.faqs-view {
  background-color: #0d0d0d;
  padding: 2rem 1rem 2rem;
}


/* Footer */
.footer {
  padding: 2rem 1rem;
  text-align: center;
  background: #111;
  color: #ffffff;
}

/* ---------------- Responsive (desktop up) ---------------- */
@media screen and (min-width: 768px) {
  .navbar {
    padding: 1.1rem 2rem;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    position: static;
    background: transparent;
    padding: 0;
  }

  .menu-toggle {
    display: none;
  }

  .hero {
    background-image: url('/images/hero-poster-desktop.png');
    background-position: center;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .btn-primary {
    padding: 0.75rem 1.5rem;
  }

  .cards-container {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .card {
    max-height: 250px;
    max-width: 350px;
  }

  .tickets h2 {
    font-size: 2rem;
  }

  .tickets p {
    font-size: 1.2rem;
  }

  .tickets .btn-primary {
    padding: 1rem 2rem;
    font-size: 1.1rem;
  }

  .tickets-cards {
    flex-direction: row;
    gap: 2rem;
  }

  .faq-question {
    font-size: 1.2rem;
  }

  .faq-answer {
    font-size: 1.1rem;
  }
}
