/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.header {
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
}

header img {
  width: 25%;
  max-width: 100%;
  padding-top: 0.5rem;
}

/* .logo-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 50%;
  max-width: 100%;
  padding-top: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 8px #F5A623);
} */

.progress-bar {
  width: 100%;
  height: 2rem;
  border: 1px solid #E0E0E0;
  background-color: #E0E0E0;
}

.progress-fill {
  height: 100%;
  background-color: #F5A623;
  transition: width 0.3s ease;
}

.section-phase-1{
  flex: 1;
  text-align: center;
  width: 100%;
}

/* .section-phase-1 div {
  padding-bottom: 1rem;
} */

.survey-intro h1 {
  font-weight: normal;
  font-size: 1.1rem;
  padding-top: 1rem;
  text-align: center;
}

.survey-intro p {
  font-style: italic;
  font-size: 0.8rem;
  padding: 1.3rem;
  text-align: center;
}

.survey-intro p:nth-child(3){
  /* padding: 0 0 3rem 0; */
  padding: 0.5rem 1.5rem 2rem 1.5rem;
}

.survey-input-phase-1 {
  /*text-align: center;*/
  padding-bottom: 2rem;
}

.survey-input-phase-1 input {
  field-sizing: content;
  width: 220px;
  max-width: 230px;
  height: 2rem;
  border-color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Poppins', sans-serif;
}

.survey-input-phase-1 input::placeholder {
  opacity: 0.5;
  font-size: 0.8rem;
  padding: 0 1rem 0 0;
}

.survey-input-phase-1 p:nth-child(2) {
  font-size: 0.4rem;
  margin: 1rem 3rem 1rem 3rem;
}

/* Input styles */

/* input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-family: inherit;
}

input:focus {
  outline: none;
  border: 2px solid #F5A623;
  box-shadow: 0 0 4px rgba(245, 166, 35, 0.4);
  transition: border 0.2s, box-shadow 0.2s;
} */

/* ------------------------- */

.button {
  font-weight: 700;
  font-size: 1rem;
  background-color: #F5A623;
  color: #ffffff;
  width: 75%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.go-home-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.disabled-button {
  background-color: #E0E0E0;
}

.footer-survey {
  padding: 1rem;
  font-size: 0.5rem;
  margin-bottom: 1rem;
  /* margin-top: 1rem; */
}

.rating {
  display: flex;
  justify-content: center;
  /* gap: 0.8rem; */
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.rating-input {
  display: none;
}

.rating-label {
  display: inline-block;
  width: 30px;
  height: 45px;
  line-height: 38px;
  border: 2px solid #ccc;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

input[type="radio"]:checked + label {
  background-color: #F5A623;
  color: white;
  border-color: #F5A623;
}

.textArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.textArea label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

textarea {
  width: 75%;
  min-height: 100px;
  max-width: 100%;
  margin-bottom: 1rem;
  border: 1px #000 solid;
  font-size: 1rem;
  padding: 1rem;
  line-height: 1.5;
}

.textArea textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  padding: 0.2rem 0 0 0.2rem
}


/* Loader styles: <div class="loader"></div> */

.loading-screen-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
  color: white;
  text-align: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

/* Farewell Animation Styles */

.farewell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.farewell {
  position: relative;
  text-align: center;
  z-index: 1;
}

.farewell p {
  font-size: 1.5rem;
  padding: 0 1rem 0 1rem;
}

.flying-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
}

.flying-images {
  position: absolute;
  top: -10%;
  animation-name: drop;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes drop {
  to {
    top: 110%;
    transform: rotate(360deg);
    opacity: 0;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
  width: 55%;
  margin-top: 3rem;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Mobile styles */


/* Specific Screen Size */
@media screen and (min-width: 390px) and (max-width: 480px) {
  .survey-intro h1 {
    margin: 0 1rem 0 1rem;
  }

  .survey-intro p {
    margin: auto 2.3rem;
  }

  .survey-intro p:nth-child(3){
    padding: 0.5rem 1.6rem 2rem 1.6rem;
  }

  .button {
    margin-bottom: 3rem;
  }

  .rating {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
  }

  .fade-in {
    width: 65%;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  header img {
    width: 25%;
  }

  .section-phase-1 {
    margin-bottom: 3rem;
  }

  /* .section-phase-1 div {
    margin: 0 0.5rem 0 0.5rem;
  } */

  .survey-intro h1 {
    font-size: 1.5rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  .survey-intro p {
    font-size: 1.2rem;
    margin: 0 2rem 0 2rem;
  }

  .survey-intro p:nth-child(3){
    padding: 0.5rem 3rem 3rem 3rem;
  }

  .survey-input-phase-1 input {
    width: 280px;
    max-width: 300px;
  }

  .survey-input-phase-1 input::placeholder {
    font-size: 1rem;
  }

  .survey-input-phase-1 p:nth-child(2) {
    font-size: 0.54rem;
  }

  .button {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .footer-survey {
    font-size: 0.8rem;
  }

  .rating {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  .rating-label {
    width: 45px;
  }

  .textArea label {
    font-size: 1rem;
  }

  textarea {
    width: 60%;
    min-height: 100px;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid;
  }

}

/* Laptops */
@media screen and (min-width: 769px) {
  header img {
    width: 20%;
  }

  .section-phase-1 {
    margin-bottom: 3rem;
  }

  .survey-intro h1 {
    font-size: 1.750rem;
    padding-top: 1.5rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  .survey-intro p {
    font-size: 1rem;
    padding: 1.5rem 0 1rem 0;
    margin: 0 2rem 0 2rem;
  }

  .survey-input-phase-1 input {
    width: 280px;
    max-width: 300px;
  }

  .survey-input-phase-1 p:nth-child(2) {
    font-size: 0.54rem;
  }

  .survey-intro p:nth-child(3){
    margin-bottom: 3rem;
  }

  .button {
    font-size: 1.2rem;
    width: 50%;
    margin-bottom: 3rem;
  }

  .footer-survey {
    font-size: 1rem;
  }

  .rating {
    margin-top: 6rem;
    font-size: 1.2rem;
  }

  .rating-label {
    width: 65px;
    height: 65px;
    line-height: 60px;
  }

  .textArea label {
    font-size: 1.2rem;
  }

  .button {
    font-size: 1.3rem;
  }

}

@media screen and (min-width: 1024px) {
  header img {
    width: 16%;
  }

  .survey-intro h1 {
    font-size: 2rem;
    padding-top: 1rem;
  }

  .survey-intro p {
    font-size: 1.35rem;
    padding: 1rem 0 1rem 0;
    margin: 0 2rem 0 2rem;
  }

  .survey-intro p:nth-child(3){
    padding-bottom: 3rem;
  }

  .survey-input-phase-1 input {
    width: 400px;
    max-width: 450px;
  }

  .survey-input-phase-1 input::placeholder {
    font-size: 1.2rem;
  }

  .survey-input-phase-1 p:nth-child(2) {
    font-size: 0.85rem;
  }

  .rating {
    margin-top: 4rem;
    font-size: 1.5rem;
  }

  .rating-label {
    width: 80px;
    height: 80px;
    line-height: 75px;
  }

  .textArea label {
    font-size: 1.4rem;
  }

  .textArea textarea::placeholder {
    font-size: 1rem;
  }
  
  textarea {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  header img {
    width: 10%;
  }

  .survey-intro h1 {
    font-size: 2.5rem;
    padding-top: 1.5rem;
  }

  .survey-intro p {
    font-size: 1.5rem;
    padding: 1.5rem 0 1rem 0;
    margin: 0 2rem 0 2rem;
  }

  .survey-input-phase-1 input {
    width: 450px;
    max-width: 500px;
  }

  .rating {
    margin-top: 5rem;
    font-size: 1.7rem;
  }

  .textArea label {
    font-size: 1.6rem;
  }

  textarea {
    font-size: 1.3rem;
    width: 65%;
  }
}

@media screen and (min-width: 1440px) {
   header img {
    width: 9%;
  }

  .survey-intro h1 {
    font-size: 2.5rem;
    padding-top: 1.5rem;
  }

  textarea {
    width: 55%;
  }
}

@media screen and (min-width: 1920px) {
  header img {
    width: 8%;
  }

  textarea {
    width: 40%;
  }

  .footer-survey {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 2560px) {
   header img {
    width: 6%;
  }

  .survey-intro {
    margin-bottom: 5rem;
  }


  .survey-intro h1 {
    padding-top: 3rem;
  }

  .button {
    margin-top: 2rem;
  }

  .footer-survey {
    margin-top: 5rem;
  }

  .rating {
    margin-top: 12rem;
  }

  .rating-label {
    width: 100px;
    height: 100px;
    line-height: 95px;
  }
}

/* @media screen and (min-height: 800px) {

  .survey-intro {
    margin-bottom: 2rem;
  }

  .button {
    margin-top: 2rem;
  }
} */
