* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
}

header img {
  width: 35%;
  max-width: 100%;
  padding-top: 0.5rem;
}
.progress-bar {
  width: 100%;
  height: 1.5rem;
  border: 1px solid #E0E0E0;
  background-color: #E0E0E0;
}

.section-phase-1 div {
  text-align: center;
  /*padding-bottom: 1rem;*/
}

.survey-intro h1 {
  font-weight: normal;
  font-size: 20px;
  padding-top: 1rem;
  text-align: center;
}

.survey-intro p {
  font-style: italic;
  font-size: 0.8rem;
  padding: 1.3rem;
  text-align: center;
}

.survey-intro p:nth-child(3){
  /* padding: 0 0 3rem 0; */
  padding: 0.5rem 1.5rem 3rem 1.5rem;
}

.survey-input-phase-1 {
  /*text-align: center;*/
  padding-bottom: 2rem;
}

.survey-input-phase-1 input {
  field-sizing: content;
  width: 220px;
  max-width: 230px;
  height: 2rem;
  border-color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}

.survey-input-phase-1 input::placeholder {
  opacity: 0.5;
  padding: 0 15px 0 0;
}

.survey-input-phase-1 p:nth-child(2) {
  font-size: 8px;
  margin: 1rem 3rem 1rem 3rem;
}

/* Input styles */

/* input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-family: inherit;
}

input:focus {
  outline: none;
  border: 2px solid #F5A623;
  box-shadow: 0 0 4px rgba(245, 166, 35, 0.4);
  transition: border 0.2s, box-shadow 0.2s;
} */

/* ------------------------- */

.next-button {
  font-weight: 700;
  font-size: 1rem;
  background-color: #F5A623;
  color: #ffffff;
  width: 75%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1rem;
}

footer {
  padding: 1rem;
  font-size: 12px;
}

/* Mobile styles */

/* @media screen and (min-width: 320px) and (max-width: 480px) {
  .layout-container {
    width: 70%;
  }
} */

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .section-phase-1 div {
    margin: 0 0.5rem 0 0.5rem;
  }

  .survey-intro h1 {
    font-size: 24px;
  }

  .survey-intro p {
    font-size: 1rem;
  }

  .survey-intro p:nth-child(3){
  padding: 0.5rem 4rem 3rem 4rem;
}

  .survey-input-phase-1 input {
    width: 260px;
    max-width: 280px;
  }

  .next-button {
    font-size: 1.2rem;
  }

}

/* Laptops */
@media screen and (min-width: 769px) {
  header img {
    width: 25%;
  }

  .survey-intro h1 {
    font-size: 1.750rem;
    padding-top: 3rem;
  }

  .survey-intro p {
    font-size: 1rem;
    padding: 1.5rem 0 0 0;
    margin: 0 2rem 0 2rem;
  }

  .survey-input-phase-1 input {
    width: 280px;
    max-width: 300px;
  }

  .next-button {
    font-size: 1.2rem;
    width: 50%;
  }

  /* BirdCard Component Styles */

  .bird-card-header {
    display: flex;
    justify-content: space-between;
    border-bottom: #d5dadf 1px solid;
    margin: 0 -1rem;
    padding: 0 1rem;
  }

  .bird-card-image img {
    width: 30%;
    height: auto;
    max-height: 200px;
  }

  .bird-card-languages {
    display: flex;
    justify-content: space-between;
  }

  .bird-card-languages > div {
    flex: 1;
  }

  .bird-card-notes > ul li div {
    display: flex;
  }
  
  .bird-card-notes > ul li div > div {
    flex-direction: column;
    justify-content: center;
  }

  .bird-card-notes > ul li div img {
    width: 7%;
    height: auto;
    max-height: 130px;
    margin: 0.5rem 1rem 0.5rem 0;
    border-radius: 0.8rem;
  }

}

@media screen and (min-width: 1024px) {
  header img {
    width: 18%;
  }
}

@media screen and (min-width: 1200px) {
  header img {
    width: 15%;
  }
}

@media screen and (min-width: 1920px) {
  header img {
    width: 12%;
  }
}